<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<section>
	
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Anggaran/ Rencana Triwulanan Per Proyek</div>
        </div>
    </div>
	
	<div class="row" id="div-form" style="display:none;">
	    <div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title" id="horz-layout-basic">Form</h4>
	            </div>
	            <div class="card-body">
	                <div class="px-3">
	                    <form id="form-ruh" class="form form-horizontal">
	                    	<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
							<input type="hidden" id="inp-id" name="inp-id">
							<input type="hidden" id="_token" name="_token">
							<div class="form-body">
			                    <div class="form-group row">
	                            	<label class="col-md-3 label-control" for="kdunit">Proyek </label>
		                            <div class="col-md-7">
		                            	<select id="id_proyek" name="id_proyek" class="form-control chosen">
										</select>
		                            </div>
									<label id="warning-id_proyek" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="kdunit">Akun </label>
		                            <div class="col-md-7">
		                            	<select id="kdakun" name="kdakun" class="form-control chosen">
										</select>
		                            </div>
									<label id="warning-kdakun" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="nilai">Triwulan I </label>
									<div class="col-md-3">
	                            		<input type="text" id="nilai03" name="nilai03" class="form-control val_num" style="text-align:right;" maxlength="19">
	                            	</div>
									<label id="warning-nilai03" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="nilai">Triwulan II </label>
									<div class="col-md-3">
	                            		<input type="text" id="nilai06" name="nilai06" class="form-control val_num" style="text-align:right;" maxlength="19">
	                            	</div>
									<label id="warning-nilai06" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="nilai">Triwulan III </label>
									<div class="col-md-3">
	                            		<input type="text" id="nilai09" name="nilai09" class="form-control val_num" style="text-align:right;" maxlength="19">
	                            	</div>
									<label id="warning-nilai09" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="nilai">Triwulan IV </label>
									<div class="col-md-3">
	                            		<input type="text" id="nilai12" name="nilai12" class="form-control val_num" style="text-align:right;" maxlength="19">
	                            	</div>
									<label id="warning-nilai12" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
							</div>
	                        <div class="form-actions">
	                            <div class="form-group row">
		                            <label class="col-md-3 label-control" for="projectinput4"></label>
		                            <div class="col-md-7">
		                            	<button type="button" class="btn btn-raised btn-warning mr-1 batal">
											<i class="ft-x"></i> Batal
										</button>
										<button id="simpan" type="button" class="btn btn-raised btn-primary">
											<i class="fa fa-check-square-o"></i> Simpan
										</button>
		                            </div>
		                        </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="row" id="div-tabel">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
					<div class="clearfix">
						<h4 class="card-title float-left">Data</h4>
						<div class="actions float-right">
							<button type="button" class="btn btn-sm btn-raised btn-icon btn-danger" id="tambah" title="Tambah data" style="display:none;"><i class="fa fa-plus"></i></button>
						</div>
					</div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
						<div class="table-responsive">
							<table id="tabel-ruh" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>No</th>
										<th>Proyek</th>
										<th>Kode Akun</th>
										<th>Nama Akun</th>
										<th>Triwulan I</th>
										<th>Triwulan II</th>
										<th>Triwulan III</th>
										<th>Triwulan IV</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</section>

<script>
	jQuery(document).ready(function(){
	
		jQuery.fn.dataTable.ext.errMode = 'none';
			
		function digit_grouping(nStr){
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
	
		jQuery('.val_num').mask('000,000,000,000,000', {reverse: true});
		
		//aktivasi chosen
		jQuery('.chosen').chosen();
		
		jQuery.get('dropdown/proyek', function(result){
			jQuery('#id_proyek').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('dropdown/akun/html/all', function(result){
			jQuery('#kdakun').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('cek/level', function(result){
			if(result=='00'){ //admin
				jQuery('#tambah').show();
			}
		});
		
		//tampilan default
		function form_default() {
			jQuery('input,textarea,select').val('');
			jQuery('.warning, #div-form').hide();
			jQuery('#div-tabel').show();
			jQuery('#id_proyek,#kdakun').prop('disabled', false);
			jQuery('#simpan').prop('disabled', false);
			jQuery('.chosen').trigger('chosen:updated');
		}
		
		//aktivasi tampilan default
		form_default();
		
		//klik tambah
		jQuery('#tambah').click(function(){
			jQuery('#inp-rekambaru').val('1');
			jQuery('#div-form').show();
			jQuery('#div-tabel').hide();
		});
		
		//data tabel
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			aaSorting: [],
			bServerSide: true,
			sAjaxSource: "anggaran/rencana"
		});
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		//cari data user yang akan di edit berdasarkan id user
		function cari_data(id){
			jQuery('.chosen').val('').trigger('chosen:updated');
			jQuery.getJSON('anggaran/rencana/pilih/'+id, function(result){
				if(result) {
					jQuery('#inp-id').val(id);
					jQuery('#inp-rekambaru').val('0');
					jQuery('#id_proyek').val(result.id_proyek+'-'+result.id_penerima).prop('disabled', true);
					jQuery('#kdakun').val(result.kdakun).prop('disabled', true);
					jQuery('#nilai03').val(digit_grouping(result.nilai03));
					jQuery('#nilai06').val(digit_grouping(result.nilai06));
					jQuery('#nilai09').val(digit_grouping(result.nilai09));
					jQuery('#nilai12').val(digit_grouping(result.nilai12));
					jQuery('.chosen').trigger('chosen:updated');
				}
			});
		}
		
		//klik ubah
		jQuery('body').off('click', '.ubah').on('click', '.ubah', function(){
			var id = this.id;
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
			cari_data(id);
		});
		
		//klik batal
		jQuery('.batal').click(function(){
			form_default();
		});
		
		//klik simpan
		jQuery('#simpan').click(function(){
			jQuery(this).html('<span class="loading"><i class="fa fa-refresh"></i> Loading.....</span>');
			jQuery(this).prop('disabled',true);
			var next = form_valid('id_proyek,kdakun');
			if(next==true){
				jQuery.get('token', function(token){
					if(token){
						jQuery('#_token').val(token);
						var data = jQuery('#form-ruh').serialize();
						jQuery.ajax({
							url: 'anggaran/rencana',
							method: 'POST',
							data: data,
							success: function(result){
								if(result=='success') {
									jQuery('#simpan').html('<i class="fa fa-check-square-o"></i> Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil');
									form_default();
									table.ajax.reload();
								} else {
									jQuery('#simpan').html('<i class="fa fa-check-square-o"></i> Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result);
								} 
							},
							error: function(result){
								jQuery('#simpan').html('<i class="fa fa-check-square-o"></i> Simpan');
								jQuery('#simpan').prop('disabled',false);
								alertify.log('Data tidak dapat disimpan. Koneksi pada aplikasi/database terputus atau data sudah pernah direkam atau format data salah. Hubungi Administrator.');
							}
						})
					} 
					else{
						jQuery('#simpan').html('<i class="fa fa-check-square-o"></i> Simpan');
						jQuery('#simpan').prop('disabled',false);
						alertify.log('Sesi telah habis, silahkan refresh browser Anda!');
					}
				});
			}
			else{
				jQuery('#simpan').html('<i class="fa fa-check-square-o"></i> Simpan');
				jQuery('#simpan').prop('disabled',false);
				alertify.log('Data tidak dapat dikosongkan!');
			}
		});
		
		//hapus
		jQuery('body').off('click', '.hapus').on('click', '.hapus', function(){
			var id = this.id;
			alertify.confirm('Hapus data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'anggaran/rencana/hapus',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses hapus berhasil.');
										table.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log('Koneksi pada aplikasi/database terputus. Hubungi Administrator.');
								}
							});
						} else {
							alertify.log('Proses hapus gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
	});
	
</script>