<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<div class="block-header">
    <h2><i class="fa fa-table"></i> KSO/ PIHAK KE-3</h2>
</div>

<div class="row clearfix" id="div-tabel">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
            	<div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <select id="kso" name="kso" class="form-control chosen">	
						</select>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <button title="Tambah Data" type="button" class="btn btn-xs btn-danger waves-effect" id="tambah" style="display:none;">
							<i class="material-icons">add</i>
						</button>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table id="tabel-ruh" class="table table-bordered table-striped table-hover">
                        <thead>
							<tr>
								<th>No</th>
								<th>Nama KSO</th>
								<th>Nama MK</th>
								<th>Nama QS</th>
								<th>Nama Kontraktor</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" id="div-form" style="min-height:700px;" style="display:none;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><i class="fa fa-pencil"></i> FORM</h2>
            </div>
            <div class="body">
                <form id="form-ruh" name="form-ruh" class="form-horizontal">
                    <input type="hidden" id="inp-id" name="inp-id">
					<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
					<input type="hidden" id="id_kso" name="id_kso">
					<input type="hidden" id="_token" name="_token">
                    
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>KSO</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <input type="text" id="id_kso1" name="id_kso1" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-id_kso1" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>MK</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <select id="id_mk" name="id_mk" class="form-control chosen">	
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-id_mk" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>QS</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <select id="id_qs" name="id_qs" class="form-control chosen">
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-id_qs" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kontraktor</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <select id="id_kon" name="id_kon" class="form-control chosen">	
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-id_kon" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <button title="Simpan Data Ini?" id="simpan" type="button" class="btn btn-primary m-t-15 waves-effect">
                            	<i class="material-icons">save</i> SIMPAN
                            </button>
							<button title="Batal" id="batal" type="button" class="btn btn-danger m-t-15 waves-effect batal">
								<i class="material-icons">refresh</i> BATAL
							</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
	jQuery(document).ready(function(){
	
		jQuery.fn.dataTable.ext.errMode = 'none';
		
		jQuery('.uang').mask('000,000,000,000,000', {reverse: true});
		
		function digit_grouping(nStr){
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
		
		//aktivasi chosen
		jQuery('.chosen').chosen();
		
		jQuery.get('dropdown/kso', function(result){
			jQuery('#kso').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('dropdown/mk', function(result){
			jQuery('#id_mk').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('dropdown/qs', function(result){
			jQuery('#id_qs').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('dropdown/kon', function(result){
			jQuery('#id_kon').html(result).trigger('chosen:updated');
		});
		
		jQuery('#kso').change(function(){
			var id_kso = jQuery(this).val();
			var kso = jQuery( "#kso option:selected" ).text();
			jQuery('#id_kso').val(id_kso);
			jQuery('#id_kso1').val(kso);
			table.ajax.url('kso/pihak3?id_kso='+id_kso).load();
		});
		
		jQuery.get('cek/level', function(result){
			if(result=='00'){ //admin
				jQuery('#tambah').show();
			}
		});
		
		jQuery.extend({
			getValues: function(url) {
				var result = null;
				jQuery.ajax({
					url: url,
					type: 'get',
					async: false,
					success: function(data) {
						result = data;
					}
				});
			   return result;
			}
		});
		
		//tampilan default
		function form_default() {
			jQuery('input,textarea').val('');
			jQuery('.warning, #div-form, #div-form1,#div-form2').hide();
			jQuery('#div-tabel').show();
			jQuery('#simpan').prop('disabled', false);
			jQuery('.chosen').trigger('chosen:updated');
		}
		
		//aktivasi tampilan default
		form_default();
		
		//klik tambah
		jQuery('#tambah').click(function(){
			if(jQuery('#kso').val()!==''){
				
				var id_kso = jQuery('#kso').val();
				var kso = jQuery( "#kso option:selected" ).text();
				jQuery('#id_kso').val(id_kso);
				jQuery('#id_kso1').val(kso);
				
				jQuery('#inp-rekambaru').val('1');
				jQuery('#div-form').show();
				jQuery('#div-tabel,#div-form1,#div-form2').hide();
			}
			else{
				alertify.log('Pilih dulu KSO-nya!');
			}
		});
		
		//data tabel
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			"columns": [
				{},
				{},
				{},
				{},
				{},
				{}
			],
			aaSorting: [0],
			bServerSide: true,
			ajax:{
				url: "kso/pihak3", // Change this URL to where your json data comes from
				type: "GET"
			}
		});
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		//cari data user yang akan di edit berdasarkan id user
		function cari_data(id){
			jQuery('.chosen').val('').trigger('chosen:updated');
			jQuery.getJSON('kso/pihak3/pilih/'+id, function(result){
				if(result) {
					jQuery('#inp-id').val(id);
					jQuery('#inp-rekambaru').val('0');
					jQuery('#id_kso').val(result.id_kso);
					jQuery('#id_kso1').val(result.nama+', '+result.nopks);
					jQuery('#id_mk').val(result.id_mk);
					jQuery('#id_qs').val(result.id_qs);
					jQuery('#id_kon').val(result.id_kon);
					jQuery('.chosen').trigger('chosen:updated');
				}
			});
		}
		
		//klik ubah
		jQuery('body').off('click', '.ubah').on('click', '.ubah', function(){
			var id = this.id;
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
			cari_data(id);
		});
		
		//klik batal
		jQuery('.batal').click(function(){
			form_default();
		});
		
		//klik simpan
		jQuery('#simpan').click(function(){
			jQuery(this).html('<span class="loading"><i class="fa fa-refresh"></i> Loading.....</span>');
			jQuery(this).prop('disabled',true);
			var next = form_valid('id_kso,id_mk,id_qs,id_kon');
			if(next==true){
				jQuery.get('token', function(token){
					if(token){
						jQuery('#_token').val(token);
						var data = jQuery('#form-ruh').serialize();
						jQuery.ajax({
							url: 'kso/pihak3',
							method: 'POST',
							data: data,
							success: function(result){
								if(result=='success') {
									jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil');
									form_default();
									table.ajax.reload();
								} else {
									jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result);
								} 
							},
							error: function(result){
								jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
								jQuery('#simpan').prop('disabled',false);
								alertify.log('Data tidak dapat disimpan. Koneksi pada aplikasi/database terputus atau data sudah pernah direkam atau format data salah. Hubungi Administrator.');
							}
						})
					} 
					else{
						jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
						jQuery('#simpan').prop('disabled',false);
						alertify.log('Sesi telah habis, silahkan refresh browser Anda!');
					}
				});
			}
			else{
				jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
				jQuery('#simpan').prop('disabled',false);
				alertify.log('Data tidak dapat dikosongkan!');
			}
		});
		
		//hapus
		jQuery('body').off('click', '.hapus').on('click', '.hapus', function(){
			var id = this.id;
			alertify.confirm('Hapus data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'kso/pihak3/hapus',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses hapus berhasil.');
										table.ajax.reload();
										form_default();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log('Koneksi pada aplikasi/database terputus. Hubungi Administrator.');
								}
							});
						} else {
							alertify.log('Proses hapus gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
	});
	
</script>