<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<div class="block-header">
    <h2><i class="fa fa-table"></i> KSO/ DOKUMEN TEKNIS</h2>
</div>

<div class="row clearfix" id="div-tabel">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
            	<div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <select id="kso" name="kso" class="form-control chosen">	
						</select>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <button title="Cetak Data" type="button" class="btn btn-xs btn-success waves-effect" id="tayang">
							<i class="material-icons">print</i>
						</button>
						<button title="Tambah Data" type="button" class="btn btn-xs btn-danger waves-effect" id="tambah" style="display:none;">
							<i class="material-icons">add</i>
						</button>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <div id="div-nilai">
						
					</div>
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs tab-nav-right" role="tablist">
						<li role="presentation" class="active"><a href="javascript:;" data-target="#tab-lvl1" data-toggle="tab">Level 1</a></li>
						<li role="presentation"><a href="javascript:;" data-target="#tab-lvl2" data-toggle="tab">Level 2</a></li>
						<li role="presentation"><a href="javascript:;" data-target="#tab-lvl3" data-toggle="tab">Level 3</a></li>
						<li role="presentation"><a href="javascript:;" data-target="#tab-lvl4" data-toggle="tab">Level 4</a></li>
						<li role="presentation"><a href="javascript:;" data-target="#tab-lvl5" data-toggle="tab">Level 5</a></li>
						<li role="presentation"><a href="javascript:;" data-target="#tab-lvl6" data-toggle="tab">Level 6</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						
						<div role="tabpanel" class="tab-pane fade in active" id="tab-lvl1">
							
							<table id="tabel-lvl1" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>No</th>
										<th>Jenis</th>
										<th>Kode</th>
										<th>Uraian</th>
										<th>Satuan</th>
										<th>Harga</th>
										<th>Volume</th>
										<th>Bobot</th>
										<th>Total</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-lvl2">
							
							<table id="tabel-lvl2" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>No</th>
										<th>Jenis</th>
										<th>Kode</th>
										<th>Uraian</th>
										<th>Satuan</th>
										<th>Harga</th>
										<th>Volume</th>
										<th>Bobot</th>
										<th>Total</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-lvl3">
							
							<table id="tabel-lvl3" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>No</th>
										<th>Jenis</th>
										<th>Kode</th>
										<th>Uraian</th>
										<th>Satuan</th>
										<th>Harga</th>
										<th>Volume</th>
										<th>Bobot</th>
										<th>Total</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-lvl4">
							
							<table id="tabel-lvl4" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>No</th>
										<th>Jenis</th>
										<th>Kode</th>
										<th>Uraian</th>
										<th>Satuan</th>
										<th>Harga</th>
										<th>Volume</th>
										<th>Bobot</th>
										<th>Total</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-lvl5">
							
							<table id="tabel-lvl5" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>No</th>
										<th>Jenis</th>
										<th>Kode</th>
										<th>Uraian</th>
										<th>Satuan</th>
										<th>Harga</th>
										<th>Volume</th>
										<th>Bobot</th>
										<th>Total</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-lvl6">
							
							<table id="tabel-lvl6" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>No</th>
										<th>Jenis</th>
										<th>Kode</th>
										<th>Uraian</th>
										<th>Satuan</th>
										<th>Harga</th>
										<th>Volume</th>
										<th>Bobot</th>
										<th>Total</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
					</div>
						
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" id="div-form" style="min-height:700px;" style="display:none;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><i class="fa fa-pencil"></i> FORM</h2>
            </div>
            <div class="body">
                <form id="form-ruh" name="form-ruh" class="form-horizontal">
                    <input type="hidden" id="inp-id" name="inp-id">
					<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
					<input type="hidden" id="id_kso" name="id_kso">
					<input type="hidden" id="_token" name="_token">
                    
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>KSO</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <input type="text" id="id_kso1" name="id_kso1" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-id_kso1" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Jenis Tagihan</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <select id="tagihan" name="tagihan" class="form-control chosen">	
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-tagihan" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kode Level</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <select id="lvl" name="lvl" class="form-control chosen">	
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-lvl" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix" id="div-lvl1">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kode Level 1</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <input type="text" id="lvl1" name="lvl1" class="form-control val_num" maxlength="4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-lvl1" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix" id="div-lvl2">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kode Level 2</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <input type="text" id="lvl2" name="lvl2" class="form-control val_num" maxlength="4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-lvl2" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix" id="div-lvl3">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kode Level 3</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <input type="text" id="lvl3" name="lvl3" class="form-control val_num" maxlength="4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-lvl3" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix" id="div-lvl4">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kode Level 4</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <input type="text" id="lvl4" name="lvl4" class="form-control val_num" maxlength="4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-lvl4" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix" id="div-lvl5">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kode Level 5</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <input type="text" id="lvl5" name="lvl5" class="form-control val_num" maxlength="4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-lvl5" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix" id="div-lvl6">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kode Level 6</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <input type="text" id="lvl6" name="lvl6" class="form-control val_num" maxlength="4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-lvl6" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Uraian</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line ">
                                    <textarea type="text" id="uraian" name="uraian" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-uraian" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div id="div-isi">
						<div class="row clearfix">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Satuan</label></div>
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="form-group">
									<div class="form-line ">
										<select id="id_satuan" name="id_satuan" class="form-control chosen">	
										</select>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<span id="warning-id_satuan" class="label label-warning warning">Required!</span>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Harga</label></div>
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="form-group">
									<div class="form-line ">
										<input type="text" id="harga" name="harga" class="form-control val_num uang" style="text-align:right;">
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<span id="warning-harga" class="label label-warning warning">Required!</span>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Volume</label></div>
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="form-group">
									<div class="form-line ">
										<input type="text" id="volume" name="volume" class="form-control val_num uang" style="text-align:right;">
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<span id="warning-volume" class="label label-warning warning">Required!</span>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Total</label></div>
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="form-group">
									<div class="form-line ">
										<input type="text" id="total" name="total" class="form-control val_num uang" style="text-align:right;" disabled>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<span id="warning-total" class="label label-warning warning">Required!</span>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Bobot</label></div>
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<div class="form-group">
									<div class="form-line ">
										<input type="text" id="bobot" name="bobot" class="form-control val_num uang" style="text-align:right;">
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<span id="warning-bobot" class="label label-warning warning">Required!</span>
							</div>
						</div>
					</div>

                    <div class="row clearfix">
                        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <button title="Simpan Data Ini?" id="simpan" type="button" class="btn btn-primary m-t-15 waves-effect">
                            	<i class="material-icons">save</i> SIMPAN
                            </button>
							<button title="Batal" id="batal" type="button" class="btn btn-danger m-t-15 waves-effect batal">
								<i class="material-icons">refresh</i> BATAL
							</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Large Size -->
<div class="modal fade" id="modal-teknis" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-header">Data Dokumen Teknis</h4>
			</div>
			<div class="modal-body" id="modal-body">
				Sedang proses....
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Tutup</button>
			</div>
		</div>
	</div>
</div>

<script>
	jQuery(document).ready(function(){
	
		jQuery.fn.dataTable.ext.errMode = 'none';
		
		jQuery('.uang').mask('000,000,000,000,000', {reverse: true});
		
		function numberWithCommas(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}
		
		function digit_grouping(nStr){
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
		
		//aktivasi chosen
		jQuery('.chosen').chosen();
		
		jQuery.get('dropdown/kso', function(result){
			jQuery('#kso').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('dropdown/satuan', function(result){
			jQuery('#id_satuan').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('dropdown/lvl-teknis', function(result){
			jQuery('#lvl').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('dropdown/tagihan', function(result){
			jQuery('#tagihan').html(result).trigger('chosen:updated');
		});
		
		jQuery('#kso').change(function(){
			var id_kso = jQuery(this).val();
			var kso = jQuery( "#kso option:selected" ).text();
			jQuery('#id_kso').val(id_kso);
			jQuery('#id_kso1').val(kso);
			table1.ajax.url('kso/teknis-baru/lvl1/'+id_kso).load();
			table2.ajax.url('kso/teknis-baru/lvl2/'+id_kso).load();
			table3.ajax.url('kso/teknis-baru/lvl3/'+id_kso).load();
			table4.ajax.url('kso/teknis-baru/lvl4/'+id_kso).load();
			table5.ajax.url('kso/teknis-baru/lvl5/'+id_kso).load();
			table6.ajax.url('kso/teknis-baru/lvl6/'+id_kso).load();
			jQuery.get('dropdown/lvl-teknis/'+id_kso, function(result){
				jQuery('#lvl').html(result).trigger('chosen:updated');
			});
		});
		
		jQuery('#lvl').change(function(){
			var arr_lvl = jQuery(this).val().split('-');
			var lvl = arr_lvl[0];
			var is_nilai = arr_lvl[1];
			jQuery('#div-lvl1,#div-lvl2,#div-lvl3,#div-lvl4,#div-lvl5,#div-lvl6,#div-isi').hide();
			var i;
			for(i=1;i<=lvl;i++){
				jQuery('#div-lvl'+i).show();
			}
			if(is_nilai=='1'){
				jQuery('#div-isi').show();
			}
			else{
				jQuery('#div-isi').hide();
			}
		});
		
		jQuery.get('cek/level', function(result){
			if(result=='00'){ //admin
				jQuery('#tambah').show();
			}
		});
		
		jQuery.extend({
			getValues: function(url) {
				var result = null;
				jQuery.ajax({
					url: url,
					type: 'get',
					async: false,
					success: function(data) {
						result = data;
					}
				});
			   return result;
			}
		});
		
		//tampilan default
		function form_default() {
			jQuery('#lvl,#uraian,#harga,#volume,#id_satuan,#bobot','#total').val('');
			jQuery('.warning, #div-form, #div-form1,#div-form2,#div-lvl1,#div-lvl2,#div-lvl3,#div-lvl4,#div-lvl5,#div-lvl6,#div-isi').hide();
			jQuery('#div-tabel').show();
			jQuery('#simpan').prop('disabled', false);
			jQuery('#lvl').trigger('chosen:updated');
		}
		
		//aktivasi tampilan default
		form_default();
		
		//klik tambah
		jQuery('#tambah').click(function(){
			if(jQuery('#kso').val()!==''){
				var id_kso = jQuery('#kso').val();
				var kso = jQuery( "#kso option:selected" ).text();
				jQuery('#id_kso').val(id_kso);
				jQuery('#id_kso1').val(kso);
				jQuery('#inp-rekambaru').val('1');
				jQuery('#div-form').show();
				jQuery('#div-tabel,#div-form1,#div-form2').hide();
			}
			else{
				alertify.log('Pilih dulu KSO-nya!');
			}
		});
		
		//klik cetak
		jQuery('#tayang').click(function(){
			if(jQuery('#kso').val()!==''){
				
				jQuery('#modal-teknis').modal('show');
				
				var id_kso = jQuery('#kso').val();
				jQuery.get('kso/teknis-baru/tayang/'+id_kso, function(result){
					if(result){
						jQuery('#modal-body').html(result);
					}
					else{
						jQuery('#modal-body').html('Koneksi terputus!');
					}
				});
				
			}
			else{
				alertify.log('Pilih dulu KSO-nya!');
			}
		});
		
		var table1=jQuery('#tabel-lvl1').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			"columns": [
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{}
			],
			aaSorting: [0],
			bServerSide: true,
			ajax:{
				url: "kso/teknis-baru/lvl1/x", // Change this URL to where your json data comes from
				type: "GET"
			}
		});
		
		var table2=jQuery('#tabel-lvl2').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			"columns": [
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{}
			],
			aaSorting: [0],
			bServerSide: true,
			ajax:{
				url: "kso/teknis-baru/lvl2/x", // Change this URL to where your json data comes from
				type: "GET"
			}
		});
		
		var table3=jQuery('#tabel-lvl3').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			"columns": [
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{}
			],
			aaSorting: [0],
			bServerSide: true,
			ajax:{
				url: "kso/teknis-baru/lvl3/x", // Change this URL to where your json data comes from
				type: "GET"
			}
		});
		
		var table4=jQuery('#tabel-lvl4').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			"columns": [
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{}
			],
			aaSorting: [0],
			bServerSide: true,
			ajax:{
				url: "kso/teknis-baru/lvl4/x", // Change this URL to where your json data comes from
				type: "GET"
			}
		});
		
		var table5=jQuery('#tabel-lvl5').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			"columns": [
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{}
			],
			aaSorting: [0],
			bServerSide: true,
			ajax:{
				url: "kso/teknis-baru/lvl5/x", // Change this URL to where your json data comes from
				type: "GET"
			}
		});
		
		var table6=jQuery('#tabel-lvl6').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			"columns": [
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{},
				{}
			],
			aaSorting: [0],
			bServerSide: true,
			ajax:{
				url: "kso/teknis-baru/lvl6/x", // Change this URL to where your json data comes from
				type: "GET"
			}
		});
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		//cari data user yang akan di edit berdasarkan id user
		function cari_data(id){
			jQuery('.chosen').val('').trigger('chosen:updated');
			jQuery.getJSON('kso/teknis-baru/pilih/'+id, function(result){
				if(result) {
					
					jQuery('#inp-id').val(id);
					jQuery('#inp-rekambaru').val('0');
					jQuery('#id_kso').val(result.id_kso);
					jQuery('#id_kso1').val(result.nama+', '+result.nopks);
					jQuery('#id_satuan').val(result.id_satuan);
					jQuery('#lvl').val(result.lvl);
					jQuery('#lvl1').val(result.lvl1);
					jQuery('#lvl2').val(result.lvl2);
					jQuery('#lvl3').val(result.lvl3);
					jQuery('#lvl4').val(result.lvl4);
					jQuery('#lvl5').val(result.lvl5);
					jQuery('#lvl6').val(result.lvl6);
					jQuery('#uraian').val(result.uraian);
					jQuery('#harga').val(numberWithCommas(result.harga));
					jQuery('#volume').val(numberWithCommas(result.volume));
					jQuery('#bobot').val(numberWithCommas(result.bobot));
					jQuery('#total').val(numberWithCommas(result.total));					
					
					var arr_lvl = result.lvl.split('-');
					var lvl = arr_lvl[0];
					var is_nilai = arr_lvl[1];
					var i;
					for(i=1;i<=lvl;i++){
						jQuery('#div-lvl'+i).show();
					}
					if(is_nilai=='1'){
						jQuery('#div-isi').show();
					}
					else{
						jQuery('#div-isi').hide();
					}
					
					jQuery('.chosen').trigger('chosen:updated');
					
				}
			});
		}
		
		//klik ubah
		jQuery('body').off('click', '.ubah').on('click', '.ubah', function(){
			var id = this.id;
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
			cari_data(id);
		});
		
		//klik batal
		jQuery('.batal').click(function(){
			form_default();
		});
		
		//klik simpan
		jQuery('#simpan').click(function(){
			jQuery(this).html('<span class="loading"><i class="fa fa-refresh"></i> Loading.....</span>');
			jQuery(this).prop('disabled',true);
			var next = form_valid('id_kso,tagihan,lvl,uraian');
			if(next==true){
				jQuery.get('token', function(token){
					if(token){
						jQuery('#_token').val(token);
						var data = jQuery('#form-ruh').serialize();
						jQuery.ajax({
							url: 'kso/teknis-baru',
							method: 'POST',
							data: data,
							success: function(result){
								if(result=='success') {
									jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil');
									form_default();
									table1.ajax.reload();
									table2.ajax.reload();
									table3.ajax.reload();
									table4.ajax.reload();
									table5.ajax.reload();
									table6.ajax.reload();
								} else {
									jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result);
								} 
							},
							error: function(result){
								jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
								jQuery('#simpan').prop('disabled',false);
								alertify.log('Data tidak dapat disimpan. Koneksi pada aplikasi/database terputus atau data sudah pernah direkam atau format data salah. Hubungi Administrator.');
							}
						})
					} 
					else{
						jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
						jQuery('#simpan').prop('disabled',false);
						alertify.log('Sesi telah habis, silahkan refresh browser Anda!');
					}
				});
			}
			else{
				jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
				jQuery('#simpan').prop('disabled',false);
				alertify.log('Data tidak dapat dikosongkan!');
			}
		});
		
		//hapus
		jQuery('body').off('click', '.hapus').on('click', '.hapus', function(){
			var id = this.id;
			alertify.confirm('Hapus data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'kso/teknis-baru/hapus',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses hapus berhasil.');
										form_default();
										table1.ajax.reload();
										table2.ajax.reload();
										table3.ajax.reload();
										table4.ajax.reload();
										table5.ajax.reload();
										table6.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log('Koneksi pada aplikasi/database terputus. Hubungi Administrator.');
								}
							});
						} else {
							alertify.log('Proses hapus gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
		jQuery('#harga,#volume').keyup(function (e){
			var harga = jQuery('#harga').val().replace(/,/g, '');
			var volume = jQuery('#volume').val().replace(/,/g, '');
			
			if(harga==''){
				harga = 0;
			}
			else{
				harga = parseInt(harga);
			}
			
			if(volume==''){
				volume = 0;
			}
			else{
				volume = parseInt(volume);
			}
			
			var total = harga*volume;
			jQuery('#total').val(numberWithCommas(total));
		});
		
		jQuery('body').off('click', '.detil').on('click', '.detil', function(){
			var id = this.id;
			table.ajax.url('kso/teknis-baru?id_kso='+id_kso).load();
		});
		
	});
	
</script>