<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<section>
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Laporan/ Realisasi</div>
		</div>
	</div>

	<div class="row" id="div-form" style="">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<!--<h4 class="card-title" id="horz-layout-basic">Parameter</h4>-->
				</div>
				<div class="card-body">
					<div class="px-3">
						<form id="form-ruh" class="form form-horizontal">
							<input type="hidden" id="_token" name="_token">

							<div class="form-body">
								<div class="form-group row">
									<label class="col-md-2 label-control" for="id_alur">Jenis Laporan</label>
									<div class="col-md-4">
										<select class="form-control chosen" id="jenis" name="jenis">
											<option value="" style="display:none;">Pilih</option><!--
											<option value="01">Januari</option>
											<option value="02">Febuari</option>
											<option value="03">Maret</option>
											<option value="04">April</option>
											<option value="05">Mei</option>
											<option value="06">Juni</option>
											<option value="07">Juli</option>
											<option value="08">Agustus</option>
											<option value="09">September</option>
											<option value="10">Oktober</option>
											<option value="11">November</option>
											<option value="12">Desember</option>-->
										</select>
									</div>
									<label id="warning-jenis" class="col-md-2 label-control label-warning warning">required!</label>
								</div>
								<div class="form-group row">
									<label class="col-md-2 label-control" for="id_alur">Periode</label>
									<div class="col-md-4">
										<select class="form-control chosen" id="periode" name="periode">
											<option value="" style="display:none;">Pilih</option><!--
											<option value="01">Januari</option>
											<option value="02">Febuari</option>
											<option value="03">Maret</option>
											<option value="04">April</option>
											<option value="05">Mei</option>
											<option value="06">Juni</option>
											<option value="07">Juli</option>
											<option value="08">Agustus</option>
											<option value="09">September</option>
											<option value="10">Oktober</option>
											<option value="11">November</option>
											<option value="12">Desember</option>-->
										</select>
									</div>
									<label id="warning-id_alur" class="col-md-2 label-control label-warning warning">required!</label>
								</div>
							</div>

							<div class="form-actions">
								<div class="form-group row">
									<label class="col-md-2 label-control" for="projectinput4"></label>
									<div class="col-md-7">
										<button id="batal" type="button" class="btn btn-raised btn-warning mr-1 batal">
											<i class="ft-x"></i> Batal
										</button>
										<button id="proses" type="button" class="btn btn-raised btn-primary">
											<i class="fa fa-check-square-o"></i> Proses
										</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	jQuery(document).ready(function(){
		//aktivasi chosen
		jQuery('.chosen').chosen();

		//default tampilan
		function form_default() {
			jQuery('select').val('');
			jQuery('.warning').hide();
			jQuery('.chosen').trigger('chosen:updated');
			jQuery('#proses').prop('disabled', true);
		};

		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}

		jQuery.get('dropdown/triwulan', function(result){
			jQuery('#periode').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('dropdown/jenis-lap', function(result){
			jQuery('#jenis').html(result).trigger('chosen:updated');
		});

		form_default();

		jQuery('#batal').click(function(){
			form_default();
		});

		jQuery('#periode').change(function(){
			if(jQuery(this).val()!='') {
				jQuery('#proses').prop('disabled', false);
			} else {
				jQuery('#proses').prop('disabled', true);
			} 
		});

		jQuery('#proses').click(function(){
			var lanjut = form_valid('jenis,periode');
			var jenis = jQuery('#jenis').val();
			var periode = jQuery('#periode').val();
			
			if(lanjut==true){
				//~ jQuery.get('laporan/rkey?periode='+periode, function(rkey){
					form_default();
					//~ window.open('laporan/neraca?periode='+periode+'&rkey='+rkey, '_blank');
					window.open(jenis+'?periode='+periode, '_blank');
				//~ });
			}
		});
	});
</script>
