<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<section>
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Monitoring/ Buku Besar</div>
		</div>
	</div>

	<div class="row" id="div-form" style="">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<!--<h4 class="card-title" id="horz-layout-basic">Parameter</h4>-->
				</div>
				<div class="card-body">
					<div class="px-3">
						<form id="form-ruh" class="form form-horizontal">

							<div class="form-body">
								<div class="form-group row">
									<label class="col-md-2 label-control" for="id_alur">Kode Akun/ COA</label>
									<div class="col-md-10">
										<select class="form-control chosen" id="kdakun" name="kdakun[]" multiple>
										</select>
									</div>
									<label id="warning-kdakun" class="col-md-2 label-control label-warning warning">required!</label>
								</div>
								<div class="form-group row">
									<label class="col-md-2 label-control" for="id_alur">Tgl. Transaksi</label>
									<div class="col-md-3">
										<input type="date" id="tgawal" name="tgawal" class="form-control" maxlength="10">
									</div>
									<label class="col-md-1 label-control">s.d.</label>
									<div class="col-md-3">
										<input type="date" id="tgakhir" name="tgakhir" class="form-control" maxlength="10">
									</div>
									<label id="warning-tgawal" class="col-md-1 label-control label-warning warning">required!</label>
									<label id="warning-tgakhir" class="col-md-1 label-control label-warning warning">required!</label>
								</div>
							</div>

							<div class="form-actions">
								<div class="form-group row">
									<label class="col-md-2 label-control" for="projectinput4"></label>
									<div class="col-md-7">
										<button id="excel" type="button" class="btn btn-raised btn-success">
											<i class="fa fa-download"></i> Excel
										</button>
										<button id="pdf" type="button" class="btn btn-raised btn-danger">
											<i class="fa fa-download"></i> PDF
										</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	jQuery(document).ready(function(){
		//aktivasi chosen
		jQuery('.chosen').chosen({search_contains: true});

		//default tampilan
		function form_default() {
			jQuery('select').val('');
			jQuery('.warning').hide();
			jQuery('.chosen').trigger('chosen:updated');
		};

		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		jQuery.get('dropdown/akun/html/all1', function(result){
			jQuery('#kdakun').html(result).trigger('chosen:updated');
		});

		form_default();

		jQuery('#excel').click(function(){
			var kdakun = jQuery('#kdakun').val();
			var tg = jQuery('#periode').val();
			
			var data = jQuery('#form-ruh').serialize();
			
			window.open('gl/excel?'+data, '_blank');
		});
		
		jQuery('#pdf').click(function(){
			var kdakun = jQuery('#kdakun').val();
			var tg = jQuery('#periode').val();
			
			var data = jQuery('#form-ruh').serialize();
			
			window.open('gl/pdf?'+data, '_blank');
		});
		
	});
</script>
