<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<section>
	
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Pembukuan/ Neraca Percobaan</div>
        </div>
    </div>
	
	<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
					<div class="clearfix">
						<h4 class="card-title float-left">Data</h4>
					</div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
					
						<form id="form-ruh" class="form form-horizontal">
							<input type="hidden" id="_token" name="_token">

							<div class="form-body">
								<div class="form-group row">
									<label class="col-md-2 label-control" for="id_alur">Periode</label>
									<div class="col-md-3">
										<input type="date" id="tgawal" name="tgawal" class="form-control" maxlength="10">
									</div>
									<label class="col-md-1 label-control">s.d.</label>
									<div class="col-md-3">
										<input type="date" id="tgakhir" name="tgakhir" class="form-control" maxlength="10">
									</div>
								</div>
							</div>
							
							<div class="form-actions">
								<div class="form-group row">
									<label class="col-md-2 label-control" for="projectinput4"></label>
									<div class="col-md-7">
										<button id="cari" type="button" class="btn btn-raised btn-success">
											<i class="fa fa-search"></i> Tampilkan
										</button>
									</div>
								</div>
							</div>

						</form>
					
                        <div class="table-responsive" id="div-tabel" style="display:none;">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Akun</th>
										<th>Uraian</th>
										<th>Debet</th>
										<th>Kredit</th>
									</tr>
								</thead>
								<tbody id="tabel-ruh">
									<tr>
										<td colspan="4">Sedang proses......</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="2" style="text-align:center;">Total</td>
										<td id="total-debet" style="text-align:right;">0</td>
										<td id="total-kredit" style="text-align:right;">0</td>
									</tr>
								</tfoot>
							</table>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</section>

<script>
	jQuery(document).ready(function(){
		
		jQuery('#cari').click(function(){
			
			jQuery('#div-tabel').show();
			jQuery('#tabel-ruh').html('<td colspan="4">Sedang proses......</td>');
			
			var tgawal = 'xxx';
			if($('#tgawal').val()!==''){
				tgawal = $('#tgawal').val();
			}
			var tgakhir = 'xxx';
			if($('#tgakhir').val()!==''){
				tgakhir = $('#tgakhir').val();
			}
			
			jQuery.getJSON('pembukuan/jurnal/'+tgawal+'/'+tgakhir, function(result){
				jQuery('#tabel-ruh').html(result.data);
				jQuery('#total-debet').html(result.total_debet);
				jQuery('#total-kredit').html(result.total_kredit);
			});
		
		});
		
	});
</script>