<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<section>
	
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Penerimaan/ Monitoring</div>
        </div>
    </div>
	
	<div class="row" id="div-form" style="display:none;">
	    <div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title" id="horz-layout-basic">Form</h4>
	            </div>
	            <div class="card-body">
	                <div class="px-3">
	                    <form id="form-ruh" class="form form-horizontal">
	                    	<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
							<input type="hidden" id="inp-id" name="inp-id">
							<input type="hidden" id="_token" name="_token">
							<input type="hidden" id="id_alur" name="id_alur">
							<input type="hidden" id="status" name="status">
							<div class="form-body">
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nourut">No.Transaksi </label>
									<div class="col-md-7">
	                            		<input type="text" id="nourut" name="nourut" class="form-control" readonly>
	                            	</div>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nmunit">Sumber Dana </label>
									<div class="col-md-7">
	                            		<input id="nmsdana" name="nmsdana" class="form-control" readonly>
	                            	</div>
									<label id="warning-nmsdana" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nmunit">Divisi/ Unit </label>
									<div class="col-md-7">
	                            		<input id="nmunit" name="nmunit" class="form-control" readonly>
	                            	</div>
									<label id="warning-nmunit" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nmproyek">Proyek </label>
									<div class="col-md-7">
	                            		<input id="nmproyek" name="nmproyek" class="form-control" readonly>
	                            	</div>
									<label id="warning-nmproyek" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nmpelanggan">Pelanggan </label>
									<div class="col-md-7">
	                            		<input id="nmpelanggan" name="nmpelanggan" class="form-control" readonly>
	                            	</div>
									<label id="warning-nmpelanggan" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nmalur">Jenis Kegiatan </label>
									<div class="col-md-7">
	                            		<input id="nmalur" name="nmalur" class="form-control" readonly>
	                            	</div>
									<label id="warning-nmalur" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nmtrans">Jenis Transaksi </label>
									<div class="col-md-7">
	                            		<input id="nmtrans" name="nmtrans" class="form-control" readonly>
	                            	</div>
									<label id="warning-nmtrans" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nilai">Jenis Penerimaan </label>
									<div class="col-md-7">
	                            		<input id="debet" name="debet" class="form-control" readonly>
	                            	</div>
									<label id="warning-debet" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nilai">Penerimaan Atas </label>
									<div class="col-md-7">
	                            		<input id="kredit" name="kredit" class="form-control" readonly>
	                            	</div>
									<label id="warning-kredit" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nilai">Nilai </label>
									<div class="col-md-7">
	                            		<input id="nilai" name="nilai" class="form-control" readonly style="text-align:right;">
	                            	</div>
									<label id="warning-nilai" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nilai">PPN</label>
									<div class="col-md-7">
	                            		<input id="pajak" name="pajak" class="form-control" readonly style="text-align:right;">
	                            	</div>
									<label id="warning-pajak" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nilai">Total</label>
									<div class="col-md-7">
	                            		<input id="total" name="total" class="form-control" readonly style="text-align:right;">
	                            	</div>
									<label id="warning-total" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="nopks">No.PKS </label>
									<div class="col-md-7">
	                            		<input type="text" id="nopks" name="nopks" class="form-control" maxlength="255" readonly>
	                            	</div>
									<label id="warning-nopks" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="tgpks">Tgl.PKS </label>
									<div class="col-md-7">
	                            		<input type="date" id="tgpks" name="tgpks" class="form-control" maxlength="10" readonly>
	                            	</div>
									<label id="warning-tgpks" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="tgpks">Jatuh Tempo </label>
									<div class="col-md-7">
	                            		<input type="date" id="tgjtempo" name="tgjtempo" class="form-control" maxlength="10" readonly>
	                            	</div>
									<label id="warning-tgjtempo" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="uraian">Uraian </label>
									<div class="col-md-7">
	                            		<textarea id="uraian" name="uraian" class="form-control" maxlength="255" readonly></textarea>
	                            	</div>
									<label id="warning-uraian" class="col-md-2 label-control label-warning warning">required!</label>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="uraian">Rincian Akun </label>
									<div class="col-md-10">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Kode Akun</th>
													<th>Nama Akun</th>
													<th>Debet</th>
													<th>Kredit</th>
												</tr>
											</thead>
											<tbody id="div-rincian-akun">
											</tbody>
										</table>
	                            	</div>
		                        </div>
								<div class="form-group row">
	                            	<label class="col-md-2 label-control" for="uraian">Lampiran </label>
									<div class="col-md-7" id="div-lampiran">
	                            		
	                            	</div>
		                        </div>
								
							</div>
	                        <div class="form-actions">
	                            <div class="form-group row">
		                            <label class="col-md-2 label-control" for="projectinput4"></label>
		                            <div class="col-md-7">
		                            	<button type="button" class="btn btn-raised btn-warning mr-1 batal">
											<i class="ft-x"></i> Kembali
										</button>
		                            </div>
		                        </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="row" id="div-tabel">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
					<div class="clearfix">
						<h4 class="card-title float-left">Data</h4>
					</div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="table-responsive">
							<table id="tabel-ruh" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>No</th>
										<th>No.Trans</th>
										<th>Divisi</th>
										<th>Pelanggan</th>
										<th>Transaksi</th>
										<th>Bukti</th>
										<th>Nilai</th>
										<th>Status</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</section>

<script>
	jQuery(document).ready(function(){
	
		jQuery.fn.dataTable.ext.errMode = 'none';
			
		function digit_grouping(nStr){
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
		
		//tampilan default
		function form_default() {
			jQuery('input,textarea,select').val('');
			jQuery('.warning, #div-form').hide();
			jQuery('#div-tabel').show();
		}
		
		//aktivasi tampilan default
		form_default();
		
		//data tabel
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			aaSorting: [],
			bServerSide: true,
			sAjaxSource: "penerimaan/monitoring"
		});
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		//cari data user yang akan di edit berdasarkan id user
		function cari_data(id){
			jQuery('.chosen').val('').trigger('chosen:updated');
			jQuery.getJSON('penerimaan/proses/pilih/'+id, function(result){
				if(result.error==false) {
					jQuery('#inp-id').val(id);
					jQuery('#inp-rekambaru').val('0');
					jQuery('#nourut').val(result.message.nourut);
					jQuery('#nmsdana').val(result.message.nmsdana);
					jQuery('#nmunit').val(result.message.nmunit);
					jQuery('#id_alur').val(result.message.id_alur);
					jQuery('#status').val(result.message.status);
					jQuery('#nmunit').val(result.message.nmunit);
					jQuery('#nmalur').val(result.message.nmalur);
					jQuery('#nmtrans').val(result.message.nmtrans);
					jQuery('#debet').val(result.message.debet);
					jQuery('#kredit').val(result.message.kredit);
					jQuery('#nmproyek').val(result.message.nmproyek);
					jQuery('#nmpelanggan').val(result.message.nmpelanggan);
					jQuery('#nopks').val(result.message.nopks);
					jQuery('#tgpks').val(result.message.tgpks);
					jQuery('#tgjtempo').val(result.message.tgjtempo);
					jQuery('#uraian').val(result.message.uraian);
					jQuery('#nilai').val(digit_grouping(result.message.nilai));
					jQuery('#pajak').val(digit_grouping(result.message.pajak));
					jQuery('#total').val(digit_grouping(result.message.total));
					jQuery('#div-lampiran').html(result.lampiran);
					jQuery('#div-rincian-akun').html(result.akun);	
				}
				else{
					alertify.log(result.message);
				}
			});
		}
		
		//klik ubah
		jQuery('body').off('click', '.proses').on('click', '.proses', function(){
			var id = this.id;
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
			cari_data(id);
		});
		
		//klik batal
		jQuery('.batal').click(function(){
			form_default();
		});
		
	});
	
</script>