<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<div class="block-header">
    <h2><i class="fa fa-table"></i> REFERENSI/ PERUSAHAAN</h2>
</div>

<div class="row clearfix" id="div-tabel">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
            	<div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2><i class="fa fa-table"></i> DATA</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <button title="Tambah Data" type="button" class="btn btn-xs btn-danger waves-effect" id="tambah" style="display:none;">
							<i class="material-icons">add</i>
						</button>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table id="tabel-ruh" class="table table-bordered table-striped table-hover">
                        <thead>
							<tr>
								<th>No</th>
								<th>Nama</th>
								<th>NPWP</th>
								<th>SIUP</th>
								<th>Jenis</th>
								<th>Owner</th>
								<th>MK</th>
								<th>QS</th>
								<th>Kon</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" id="div-form" style="min-height:700px;" style="display:none;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><i class="fa fa-pencil"></i> FORM</h2>
            </div>
            <div class="body">
                <form id="form-ruh" name="form-ruh" class="form-horizontal">
                    <input type="hidden" id="inp-id" name="inp-id">
					<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
					<input type="hidden" id="_token" name="_token">
                    
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Nama</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line focused">
                                    <input type="text" id="nama" name="nama" class="form-control" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-nama" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>NPWP</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line focused">
                                    <input type="text" id="npwp" name="npwp" class="form-control val_num" maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-npwp" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Nomor SIUP</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line focused">
                                    <input type="text" id="siup" name="siup" class="form-control" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-siup" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Nama Dirut</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line focused">
                                    <input type="text" id="nmdirut" name="nmdirut" class="form-control" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-nmdirut" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Bidang Usaha</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="kdjenis" name="kdjenis" class="form-control chosen">
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-kdjenis" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Telp</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="telp" name="telp" class="form-control val_num" maxlength="20">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-telp" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Alamat</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="alamat" name="alamat" class="form-control" maxlength="255">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-alamat" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Email</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="email" name="email" class="form-control" maxlength="255">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-email" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Website</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="website" name="website" class="form-control" maxlength="255">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-website" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Owner</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="owner" name="owner" class="form-control chosen">
										<option value="1">Ya</option>
										<option value="0">Tidak</option>
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-owner" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>MK</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="mk" name="mk" class="form-control chosen">
										<option value="1">Ya</option>
										<option value="0">Tidak</option>
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-mk" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>QS</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="qs" name="qs" class="form-control chosen">
										<option value="1">Ya</option>
										<option value="0">Tidak</option>
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-qs" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Kontraktor</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="kontraktor" name="kontraktor" class="form-control chosen">
										<option value="1">Ya</option>
										<option value="0">Tidak</option>
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-kontraktor" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label"><label>Logo (* Max 1MB)</label></div>
						<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
							<div class="form-group">
								<span class="btn btn-primary fileinput-button">
									<i class="material-icons">file_upload</i> <span>Upload File</span>
									<input id="fileupload" type="file" name="file">
								</span>
								<div id="files" class="files"></div>
								<div id="progress" class="progress">
									<div class="progress-bar progress-bar-danger"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="nmfile"></div>
					</div>

                    <div class="row clearfix">
                        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <button title="Simpan Data Ini?" id="simpan" type="button" class="btn btn-primary m-t-15 waves-effect">
                            	<i class="material-icons">save</i> SIMPAN
                            </button>
							<button title="Batal" id="batal" type="button" class="btn btn-danger m-t-15 waves-effect batal">
								<i class="material-icons">refresh</i> BATAL
							</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
	jQuery(document).ready(function(){
	
		jQuery.fn.dataTable.ext.errMode = 'none';
		
		//aktivasi chosen
		jQuery('.chosen').chosen();
		
		jQuery.get('dropdown/jenis-usaha', function(result){
			jQuery('#kdjenis').html(result).trigger('chosen:updated');
		});
		
		jQuery.get('cek/level', function(result){
			if(result=='00'){ //admin
				jQuery('#tambah').show();
			}
		});
		
		jQuery.extend({
			getValues: function(url) {
				var result = null;
				jQuery.ajax({
					url: url,
					type: 'get',
					async: false,
					success: function(data) {
						result = data;
					}
				});
			   return result;
			}
		});
		
		var token1 = jQuery.getValues('token');
		
		jQuery('#fileupload').click(function(){
			jQuery('#progress .progress-bar').css('width', 0);
			jQuery('#progress .progress-bar').html('');
			jQuery('#nmfile').html('');
		});
		
		jQuery('#fileupload').fileupload({
			url:'ref/perusahaan/upload',
			dataType: 'json',
			formData: {
				_token:token1
			},
			done: function (e, data) {
				jQuery('#nmfile').html(data.files[0].name);
				alertify.log('Upload file '+data.files[0].name+' berhasil!');
			},
			error: function(error) {
				alertify.log(error.responseText);
			},
			progressall: function (e, data) {
				var progress = parseInt(data.loaded / data.total * 100, 10);
				jQuery('#progress .progress-bar').css('width',progress + '%');
			}
		}).prop('disabled', !$.support.fileInput)
		  .parent().addClass($.support.fileInput ? undefined : 'disabled');
		
		//tampilan default
		function form_default() {
			jQuery('input,textarea').val('');
			jQuery('.warning, #div-form').hide();
			jQuery('#div-tabel').show();
			jQuery('#npwp,nopks').prop('readonly', false);
			jQuery('#simpan').prop('disabled', false);
		}
		
		//aktivasi tampilan default
		form_default();
		
		//klik tambah
		jQuery('#tambah').click(function(){
			jQuery('#inp-rekambaru').val('1');
			jQuery('#div-form').show();
			jQuery('#div-tabel').hide();
		});
		
		//data tabel
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			aaSorting: [],
			bServerSide: true,
			sAjaxSource: "ref/perusahaan"
		});
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		//cari data user yang akan di edit berdasarkan id user
		function cari_data(id){
			jQuery('.chosen').val('').trigger('chosen:updated');
			jQuery.getJSON('ref/perusahaan/pilih/'+id, function(result){
				if(result) {
					jQuery('#inp-id').val(id);
					jQuery('#inp-rekambaru').val('0');
					jQuery('#nama').val(result.nama);
					jQuery('#npwp').val(result.npwp).prop('readonly', true);
					jQuery('#siup').val(result.siup);
					jQuery('#nmdirut').val(result.nmdirut);
					jQuery('#kdjenis').val(result.kdjenis);
					jQuery('#telp').val(result.telp);
					jQuery('#alamat').val(result.alamat);
					jQuery('#email').val(result.email);
					jQuery('#website').val(result.website);
					jQuery('#owner').val(result.owner);
					jQuery('#mk').val(result.mk);
					jQuery('#qs').val(result.qs);
					jQuery('#kontraktor').val(result.kontraktor);
					jQuery('.chosen').trigger('chosen:updated');
				}
			});
		}
		
		//klik ubah
		jQuery('body').off('click', '.ubah').on('click', '.ubah', function(){
			var id = this.id;
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
			cari_data(id);
		});
		
		//klik batal
		jQuery('.batal').click(function(){
			form_default();
		});
		
		//klik simpan
		jQuery('#simpan').click(function(){
			jQuery(this).html('<span class="loading"><i class="fa fa-refresh"></i> Loading.....</span>');
			jQuery(this).prop('disabled',true);
			var next = form_valid('nama,npwp,siup,kdjenis,nmdirut,owner,mk,qs,kontraktor,aktif');
			if(next==true){
				jQuery.get('token', function(token){
					if(token){
						jQuery('#_token').val(token);
						var data = jQuery('#form-ruh').serialize();
						jQuery.ajax({
							url: 'ref/perusahaan',
							method: 'POST',
							data: data,
							success: function(result){
								if(result=='success') {
									jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil');
									form_default();
									table.ajax.reload();
								} else {
									jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result);
								} 
							},
							error: function(result){
								jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
								jQuery('#simpan').prop('disabled',false);
								alertify.log('Data tidak dapat disimpan. Koneksi pada aplikasi/database terputus atau data sudah pernah direkam atau format data salah. Hubungi Administrator.');
							}
						})
					} 
					else{
						jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
						jQuery('#simpan').prop('disabled',false);
						alertify.log('Sesi telah habis, silahkan refresh browser Anda!');
					}
				});
			}
			else{
				jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
				jQuery('#simpan').prop('disabled',false);
				alertify.log('Data tidak dapat dikosongkan!');
			}
		});
		
		//hapus
		jQuery('body').off('click', '.hapus').on('click', '.hapus', function(){
			var id = this.id;
			alertify.confirm('Hapus data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'ref/perusahaan/hapus',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses hapus berhasil.');
										table.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log('Koneksi pada aplikasi/database terputus. Hubungi Administrator.');
								}
							});
						} else {
							alertify.log('Proses hapus gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
	});
	
</script>