<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<div class="block-header">
    <h2><i class="fa fa-list"></i> REFERENSI/ PENGGUNA</h2>
</div>

<div class="row clearfix" id="div-tabel">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
            	<div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2><i class="fa fa-table"></i> DATA</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <button title="Tambah Data" type="button" class="btn btn-xs btn-danger waves-effect" id="tambah">
							<i class="material-icons">add</i>
						</button>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table id="tabel-ruh" class="table table-bordered table-striped table-hover">
                        <thead>
							<tr>
								<th>#</th>
								<th>Username</th>
								<th>Nama</th>
								<th>NIK</th>
								<th>Level</th>
								<th>Perusahaan</th>
								<th>Status</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" id="div-form" style="min-height:700px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><i class="fa fa-pencil"></i> FORM</h2>
            </div>
            <div class="body">
                <form id="form-ruh" name="form-ruh" class="form-horizontal">
                    <input type="hidden" id="inp-id" name="inp-id">
					<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
					<input type="hidden" id="_token" name="_token">
                    
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label"><label>Username</label></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="username" name="username" class="form-control" placeholder="ex. johndoe" maxlength="50">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-username" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label"><label>NIK</label></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="nik" name="nik" class="form-control val_num" placeholder="ex. 198605232006021002" maxlength="16">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-nik" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label"><label>Nama</label></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="nama" name="nama" class="form-control" placeholder="ex. John Doe" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-nama" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label"><label>Email</label></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="email" name="email" class="form-control" placeholder="jhondoe@gmail.com" maxlength="50">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-email" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label"><label>Level</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <select id="kdlevel" name="kdlevel[]" class="form-control chosen" data-placeholder="Pilih Level" multiple></select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-kdlevel" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix" id="div-perusahaan">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label"><label>Perusahaan</label></div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <select id="id_perusahaan" name="id_perusahaan[]" class="form-control chosen" data-placeholder="Pilih Perusahaan" multiple></select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-id_perusahaan" class="label label-warning warning">Required!</span>
                        </div>
                    </div>
					
					<div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label"><label>Status</label></div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <select id="aktif" name="aktif" class="form-control chosen">
									<option value="" style="display:none;">Pilih Data</option>
									<option value="1">Aktif</option>
									<option value="0">Tidak Aktif</option>
								</select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        	<span id="warning-aktif" class="label label-warning warning">Required!</span>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <button title="Simpan Data Ini?" id="simpan" type="button" class="btn btn-primary m-t-15 waves-effect">
                            	<i class="material-icons">save</i> SIMPAN
                            </button>
							<button title="Batal" id="batal" type="button" class="btn btn-danger m-t-15 waves-effect">
								<i class="material-icons">refresh</i> BATAL</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="view-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Detail Informasi User</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead id="content-view">
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	jQuery(document).ready(function(){
	
		jQuery.fn.dataTable.ext.errMode = 'none';
		
		//aktivasi chosen
		jQuery('.chosen').chosen();
				
		//ref level user
		jQuery.get('dropdown/level', function(result){
			jQuery('#kdlevel').html(result).trigger('chosen:updated');
		});
		
		//ref perusahaan
		jQuery.get('dropdown/perusahaan', function(result){
			jQuery('#id_perusahaan').html(result).trigger('chosen:updated');
		});
		
		jQuery.extend({
			getValues: function(url) {
				var result = null;
				jQuery.ajax({
					url: url,
					type: 'get',
					async: false,
					success: function(data) {
						result = data;
					}
				});
			   return result;
			}
		});
		
		var token1 = jQuery.getValues('token');
		
		//tampilan default
		function form_default() {
			jQuery('.warning, #div-form').hide();
			jQuery('#div-tabel').show();
			jQuery('#simpan').prop('disabled', false);
		}
		
		//aktivasi tampilan default
		form_default();
		
		//klik tambah
		jQuery('#tambah').click(function(){
			jQuery('#username').prop('disabled',false);
			jQuery('#inp-rekambaru').val('1');
			jQuery('#div-form').show();
			jQuery('#div-tabel').hide();
		});
		
		//data tabel
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			language:{
			    "decimal":        "",
			    "emptyTable":     "Tidak ada data tersedia",
			    "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
			    "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
			    "infoFiltered":   "(disaring dari _MAX_ total entri)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Tampilkan _MENU_ entri",
			    "loadingRecords": "Proses Loading...",
			    "processing":     "Sedang Proses...",
			    "search":         "Cari:",
			    "zeroRecords":    "Tidak ditemukan data yang sesuai",
			    "paginate": {
			        "first":      "Awal",
			        "last":       "Akhir",
			        "next":       "Sesudah",
			        "previous":   "Sebelum"
			    },
			    "aria": {
			        "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
			        "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
			    }
			},
			aaSorting: [],
			bServerSide: true,
			sAjaxSource: "ref/user"
		});
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		//cari data user yang akan di edit berdasarkan id user
		function cari_data(id){
			jQuery('.chosen').val('').trigger('chosen:updated');
			jQuery.getJSON('ref/user/pilih/'+id, function(result){
				if(result.error==false) {
					var arr_level = result.kdlevel.split(",");
					var arr_perusahaan = result.id_perusahaan.split(",");
					jQuery('#inp-id').val(id);
					jQuery('#inp-rekambaru').val('0');
					jQuery('#username').val(result.username);
					jQuery('#nama').val(result.nama);
					jQuery('#nik').val(result.nik);
					jQuery('#email').val(result.email);
					jQuery('#kdlevel').val(arr_level);
					jQuery('#id_perusahaan').val(arr_perusahaan);
					jQuery('#aktif').val(result.aktif);
					jQuery('.chosen').trigger('chosen:updated');
					jQuery('#username').prop('disabled', true);
				}
			});
		}
		
		//klik ubah
		jQuery('body').off('click', '.ubah').on('click', '.ubah', function(){
			var id = this.id;
			cari_data(id);
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
			jQuery('#inp-id').val(id);
			jQuery('#inp-rekambaru').val('0');
		});
		
		//klik batal
		jQuery('#batal').click(function(){
			form_default();
		});
		
		//klik simpan
		jQuery('#simpan').click(function(){
			jQuery(this).html('<span class="loading"><i class="fa fa-refresh"></i> Loading.....</span>');
			jQuery(this).prop('disabled',true);
			var next = form_valid('username,nik,nama,email,kdlevel,id_perusahaan,aktif');
			if(next==true){
				jQuery.get('token', function(token){
					if(token){
						jQuery('#_token').val(token);
						var data = jQuery('#form-ruh').serialize();
						jQuery.ajax({
							url: 'ref/user',
							method: 'POST',
							data: data,
							success: function(result){
								if(result=='success') {
									jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil');
									form_default();
									table.ajax.reload();
								} else {
									jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result);
								} 
							},
							error: function(result){
								jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
								jQuery('#simpan').prop('disabled',false);
								alertify.log('Data tidak dapat disimpan. Koneksi pada aplikasi/database terputus atau data sudah pernah direkam atau format data salah. Hubungi Administrator.');
							}
						})
					} 
					else{
						jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
						jQuery('#simpan').prop('disabled',false);
						alertify.log('Sesi telah habis, silahkan refresh browser Anda!');
					}
				});
			}
			else{
				jQuery('#simpan').html('<i class="material-icons">save</i> SIMPAN');
				jQuery('#simpan').prop('disabled',false);
				alertify.log('Data tidak dapat dikosongkan!');
			}
		});
		
		//hapus
		jQuery('body').off('click', '.hapus').on('click', '.hapus', function(){
			var id = this.id;
			alertify.confirm('Hapus data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'ref/user/hapus',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses hapus berhasil.');
										table.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log('Koneksi pada aplikasi/database terputus. Hubungi Administrator.');
								}
							});
						} else {
							alertify.log('Proses hapus gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
		//reset
		jQuery('body').off('click', '.reset').on('click', '.reset', function(){
			var id = this.id;
			alertify.confirm('Reset data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'ref/user/reset',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses reset berhasil.');
										table.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log('Koneksi pada aplikasi/database terputus. Hubungi Administrator.');
								}
							});
						} else {
							alertify.log('Proses reset gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
	});
	
</script>
